<header>
    <main class="home bg-danger">
        <header class="rounded">
            <section class="p-5 text-center text-light">
                <h1 class="display-3">BAZAR & ALIMENTACIÓN</h1>
                <h2 class="display-2 text-dark"><b><i>ZLL</i></b></h2>
            </section>
        </header>
    </main>
    <footer class="p-5 bg-dark text-dark">
        aaa
    </footer>
</header>
